{{ partial "head" . }}

{{ if (eq (trim .Site.Params.provider " " | lower) "github") | and (isset .Site.Params "repo_url") }}
  {{ $repo_id := replace .Site.Params.repo_url "https://github.com/" ""}}
  {{ .Scratch.Set "repo_id" $repo_id }}
{{ end }}

<input class="toggle" type="checkbox" id="toggle-drawer">
<input class="toggle" type="checkbox" id="toggle-search">
<label class="toggle-button overlay" for="toggle-drawer"></label>

<!-- Titlebar -->
<header class="header">
  {{ partial "header" . }}
</header>

<!-- Not displayed, but needed to not break things -->
<div class="main"></div>
<div class="drawer">
  {{ partial "drawer" . }}
</div>

<!-- Searchbar stuff -->
<div class="results" role="status" aria-live="polite">
  <div class="scrollable">
    <div class="wrapper">
      <div class="meta"></div>
      <div class="list"></div>
    </div>
  </div>
</div>

<!-- Main content -->
<div class="homepage-main">
  <div class="product-block">
    <a class="product-holder" id="product-sensu-core" href="./core/latest/">
         <div class="mask"></div>
         <div class="content">
           <div class="homepage-product"><span class="product-title">Sensu Core Edition</span>
             <span class="description">
               The open source monitoring event pipeline, redesigned in Go
             </span>
           </div>
         </div>
       </a>

       <a class="product-holder" id="product-sensu-enterprise" href="./sensu-core/latest/">
         <div class="mask"></div>
         <div class="content">
           <div class="homepage-product"><span class="product-title">Sensu Classic Core</span>
             <span class="description">
               The open source monitoring event pipeline
             </span>
           </div>
         </div>
       </a>

       <a class="product-holder" id="product-sensu-enterprise-dashboard" href="./plugins/latest/">
         <div class="mask"></div>
         <div class="content">
           <div class="homepage-product"><span class="product-title">Plugins</span>
             <span class="description">
               Checks, handlers and other plugins to power your Sensu deployment.
             </span>
           </div>
         </div>
       </a>

       <a class="product-holder" id="product-uchiwa" href="./enterprise/latest/">
         <div class="mask"></div>
         <div class="content">
               <div class="homepage-product"><span class="product-title">Sensu Enterprise Edition</span>
                 <span class="description">
                   The powerful and simple monitoring product, built on Sensu Core.
             </span>
           </div>
         </div>
       </a>

       <a class="product-holder" id="product-plugins" href="./sensu-enterprise/latest/">
       <div class="mask"></div>
       <div class="content">
         <div class="homepage-product"><span class="product-title">Sensu Classic Enterprise</span>
           <span class="description">
             The powerful and simple monitoring product, built on Sensu Classic Core.
           </span>
         </div>
       </div>
     </a>

       <a class="product-holder" id="product-extensions" href="./uchiwa/latest/">
         <div class="mask"></div>
         <div class="content">
           <div class="homepage-product"><span class="product-title">Uchiwa</span>
             <span class="description">
               An open source dashboard for Sensu Classic.
             </span>
           </div>
         </div>
       </a>
  </div>

<!-- Footer which is not displayed -->
{{ partial "footer_js" . }}
